div#popup {
    min-width: 320px;
    min-height: 240px;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.title {
}